header{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: brown;
}

.logo{
  text-decoration: none;
  font-family: monospace;
  font-size: 40px;
  font-style:italic;  
  color: rgb(250, 250, 246);
  cursor: pointer;
}

.favoritos{
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  color: #000;
}

.img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.container-header{
  display: flex;
  align-items: center;
  width: 900px;
  justify-content: space-between;
}